* {
    margin: 0;
    padding: 0;
}
body{
    padding: 20px 20px 20px 20px;
    background-color: lightblue;
    font-family: Helvetica, Arial, sans-serif;
}
header{
    padding: 10px 10px 10px 10px;
    background-color: #b56663;
}
header li:hover {
    text-decoration: underline;
    color: darkred;
}
h1 {
    margin: 10px 0 15px 0;
    text-align: center;
    padding: 10px;
    border: 2px solid black;    
}
h2 {
    margin: 10px 0 20px 0;
    border-top: 1px solid black;
    padding-top: 10px;
}
p {
    padding: 0 200px 0 0;
}
ul {
    padding: 0 0 0 50px;
}
.nav {
    padding: 0;
    text-align: center
}
.nav li {
    display: inline;
}