* {
    margin: 0;
    padding: 0;
}
body{
    padding: 20px 20px 20px 20px;
    background-color: lightblue;
}
h1 {
    margin: 10px 0 15px 0;
    text-align: center;
}
h2 {
    margin: 10px 0 20px 0;
    border-bottom: 1px solid #cccccc;
}
p {
    padding: 0 0 0 0;
}
ul {
    padding: 0 0 0 50px;
}
.nav {
    padding: 0;
    text-align: center
}
.nav li {
    display: inline;
}
li:hover{
   text-decoration: underline;
   color: darkred;
}